@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    min-height: 100vh;
    
}
.box{
    position: relative;
    width: 370px;
    height: 450px;
    background: orange;
    border-radius: 50px 5px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,black,black);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,red,red);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
form{
    position:absolute ;
    inset: 2px;
    border-radius: 50px 5px;
    background: orange;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
h1{
    color: black;
    font-size: 25px;
    text-align: center;

}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 30px;
}
.inputBox input{
    position: relative;
    width:80% ;
    padding: 20px 10px 10px;
    background: none;
    border: 2px solid green;
    border-radius: 5PX;
    color: black;
    font-size: smaller;
    letter-spacing: 0.05em;
    z-index: 10;
}
/*designing input button*/
input[type= "submit"]
{
    font-size: 18px;
    border:1px solid black;
    outline: none;
    background: whitesmoke;
    padding: 5px;
    margin-top: 30px;
    border-radius: 90px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 30px 5px black;
}
/*......to add the black grey colour in the login button after you press*/
input[type= "submit"]:hover
{
    background: linear-gradient(350deg,black,rgba(245, 245, 245, 0.555));
    opacity: 0.9;
}


.inputBox span{
    position: absolute;
    left: 4px;
    padding: 20px,10px,10px;
    font-size: 18px;
    letter-spacing: 0px;
    transition: 0.5s;
}
/*...to turn the span(pass/username) to red,move them t o negative side  and change the font size*/ 
.inputBox input:valid ~ span
{
    color: rgba(20, 20, 20, 0.418);
    
    transform: translateX(-10px) translateY(-20px);
    font-size: 80%;
}
.links{
    display: flex;
   justify-content: space-between; 

}
.links a{
    margin: 25px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.411);
    text-decoration: underline;
}
.links a:hover{
    color: red;
    font-size: 16px;
}
a{
    color: black;
    font-size: small;
    padding-top: 40px;
    margin-left: 20px;
}
a:hover{
    color: red;
}
h2{
    margin-top: 0px;
    color: rgb(214, 21, 21);
}
.section{
    padding-left: 20px;
}