body{
    background:  whitesmoke;
}
.text-box a{
    color: none;
}
.hero-btn{
    display:inline-block;
    text-decoration-line: none;
    color: black;
    border: 1px solid green;
    padding: 13px 5px;
    font-size: 30px;
    background: white;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    height: 60px;
    padding-top: 4px;
}
.hero-btn:hover{
    border: 1px solid green;
    background:orange;
    transition: 1s;
}
/*--------Available courses-------*/
/*--course--*/
.course{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: green;
    background-image: url(none);
    background-repeat: no-repeat;
    background-size: cover;

}
.course:hover{
   background: whitesmoke;
    box-shadow: 0 0 20px 0px black;}
h2{
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
}
p0{
    color: white;
    font-size: 18px;
    font-weight: 550;
    line-height: 30px;
    padding: 10px;
}
/*--row---*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: orange;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    overflow-y: scroll;
    height: 400px;
    width: auto;
    box-shadow: 0 0 50px 0px black;
    border: 1px solid black;
    display: block;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px black;
    background: green;
}
h3{
    text-align: center;
    font-weight: 600;
    color: black;
}
h4{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    color: white;
}
li{
    text-align: left;
    padding-left: 10px;
}
h5{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    color: white;
}